@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme { /*custom colors instantiation, can use colors below as a default tailwindcss color (etc. bg-yellow or text-teal)*/
    --color-yellow: #fbde9c;
    --color-blue: #3372b9;
    --color-white: #f0e9e1;
    --color-black: #1f262c;
    --color-teal: #549e91;
}

@layer utilities { /*custom utilities*/
    .bubble-img {
        display: flex;
        flex-direction: row;
        padding-inline: 10vw;
        justify-content: space-between
    }
}