@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme { /*custom colors instantiation, can use colors below as a default tailwindcss color (etc. bg-yellow or text-teal)*/
    --color-yellow: #fbde9c;
    --color-blue: #3372b9;
    --color-beige: #f0e9e1;
    --color-white: #ffffff;
    --color-black: #1f262c;
    --color-teal: #549e91;
    --font-playwrite: "Playwrite US Trad"
   
}

@layer utilities { /*custom utilities*/
    .v-border {
        border: 30px solid transparent; 
                border-image-slice: 33% 33% 33% 33%;
                border-image-width: 1.75em 1.75em 1.75em 1.75em;
                border-image-outset: 0px 0px 0px 0px;
                border-image-repeat: round;
                border-image-source: url(../images/v-border.png)
    }

    .banner {
        width: 100vw;
        margin-left: calc(-1 * ((100vw - 100%) / 2));
    }
}